.app {
  &-navigation {
    padding-top: pad(2);
    margin-bottom: mar(8);
    padding-inline: pad(2);
  }

  &-loader {
    &-message {
      &__dot {
        letter-spacing: 0-.5rem;
      }
    }
  }
}

@media print {
  .app {
    &-navigation {
      display: none;
    }
  }
}
