<aa-section id="EXPERIENCE" class="m-width:full">
  <h2 class="aa-title:1">{{ "EXPERIENCE.TITLE" | translate }}</h2>
  <div class="m-flex m-flex-column m-flex-gap:4 m-width:full">
    <ng-container *ngFor="let bloc of ('EXPERIENCE.CONTENT' | translate)">
      <div [attr.id]="bloc.ID" class="m-flex m-flex-column m-flex-gap:2">
        <div class="m-flex m-flex-column m-width:full">
          <div
            class="m-flex m-flex-justify:between m-flex-items:center m-xs:flex-column m-xs:flex-items:start"
          >
            <h3 class="aa-title:2 m-text-uppercase">{{ bloc.TITLE }}</h3>
            <span *ngIf="bloc.DATE" class="aa-title:3 m-text-color:neutral">
              <span *ngIf="bloc.DATE.FROM">{{ bloc.DATE.FROM }}</span>
              <span *ngIf="bloc.DATE.TO"> - {{ bloc.DATE.TO }}</span>
            </span>
          </div>
          <span class="aa-title:4 m-text-color:neutral">
            {{ bloc.SUBTITLE }}
          </span>
        </div>
        <ng-container *ngFor="let project of bloc.PROJECTS">
          <div
            [attr.id]="project.ID"
            class="m-flex m-flex-column m-flex-gap:1 m-padding-l:2 m-md:padding-l:1"
          >
            <div class="m-flex m-flex-column m-flex-gap:half">
              <div *ngIf="project.TITLE" class="aa-title:3 m-text-weight:600">
                {{ project.TITLE }}
              </div>
              <div
                *ngIf="project.DESCRIPTION"
                class="aa-title:5 m-text-color:neutral"
              >
                {{ project.DESCRIPTION }}
              </div>
            </div>
            <ul
              class="aa-list m-width:full m-padding-l:2 m-md:padding-l:1"
              *ngIf="project.DETAILS && project.DETAILS.length > 0"
            >
              <ng-container
                *ngFor="let task of project.DETAILS; let isLast = last"
              >
                <li
                  [innerHTML]="task | html"
                  [ngClass]="{ 'm-margin-b:1': !isLast }"
                ></li>
              </ng-container>
            </ul>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</aa-section>
