<div
  class="header m-flex m-flex-column m-flex-gap:4 m-flex-justify:between m-width:full m-height:full m-position:relative"
>
  <!-- Identity -->
  <div class="header-section m-flex m-flex-column m-flex-gap:4 m-width:full m-padding:2 m-lg:padding-b:10 m-md:padding-b:2">
    <!-- Name -->
    <aa-logo class="m-display:block m-width:24"></aa-logo>

    <!-- Description -->
    <div class="m-flex m-flex-column m-flex-gap:4 m-width:full">
      <div
        [ngStyle]="{ gap: '0.2rem' }"
        class="m-flex m-flex-column m-width:full"
      >
        <div class="aa-subtitle">{{ "GENERAL.NATIONALITY" | translate }}</div>
        <div class="m-text-color:primary m-text-uppercase m-text-bold">
          {{ "GENERAL.JOB_TITLE" | translate }}
        </div>
      </div>
    </div>

    <!-- Additional Content -->
    <div class="m-width:full m-md:display:none">
      <!-- Information -->
      <aa-aside class="m-position:sticky m-inset-t:0 m-width:full">
        <aa-information class="m-width:full" [content]="infos"></aa-information>
      </aa-aside>
    </div>
  </div>

  <!-- Hobbies -->
  <div
    class="m-flex m-flex-gap:4 m-flex-column m-widrh:full m-padding:2 m-md:display:none"
  >
    <aa-hobbies class="m-width:full"></aa-hobbies>
    <aa-software-skills class="m-width:full"></aa-software-skills>
  </div>

  <!-- Glossary -->
  <div class="m-flex m-flex-column m-flex-gap:4 m-width:full m-md:display:none"></div>

  <!-- Illustration -->
  <div class="m-md:display:none"></div>

  <!-- Contact -->
  <aa-contact
    class="m-flex m-flex-self:end m-width:full m-padding:2 m-md:display:none"
  ></aa-contact>
</div>
