<div
  class="header m-flex m-flex-column m-flex-gap:4 m-flex-justify:between m-width:full m-height:full m-position:relative"
>
  <!-- Identity -->
  <div
    class="header-section m-flex m-flex-column m-flex-gap:2 m-width:full m-padding:2 m-lg:padding-b:10 m-md:padding-b:2"
  >
    <!-- Name -->
    <aa-logo
      [arabic]="content.isArabic()"
      class="m-display:block m-width:24"
    ></aa-logo>

    <!-- Description -->
    <div class="m-flex m-flex-column m-flex-gap:4 m-width:full">
      <div class="m-flex m-flex-column m-width:full m-flex-gap:half">
        <div class="aa-subtitle">
          {{ "GENERAL.DESCRIPTION" | translate }}
        </div>
        <div class="m-text-color:primary m-text-uppercase m-text-bold">
          {{ "GENERAL.JOB_TITLE" | translate }}
        </div>
      </div>
    </div>

    <!-- Additional Content -->
    <div *ngIf="anchor.information()" class="m-width:full m-md:display:none">
      <!-- Information -->
      <aa-aside class="m-position:sticky m-inset-t:0 m-width:full">
        <aa-information class="m-width:full"></aa-information>
      </aa-aside>
    </div>
  </div>

  <!-- Hobbies -->
  <div
    class="m-flex m-flex-gap:2 m-flex-column m-width:full m-padding:2 m-md:display:none m-position:sticky m-inset-b:0"
  >
    <!-- Hobbies -->
    <aa-hobbies class="m-width:full"></aa-hobbies>
    <aa-separator level="background-55" class="m-width:50p" />

    <!-- Skill -->
    <aa-software-skills class="m-width:full"></aa-software-skills>
    <aa-separator level="background-55" class="m-width:50p" />

    <!-- Contact -->
    <aa-contact
      class="m-flex m-flex-self:end m-width:full m-md:display:none"
    ></aa-contact>
  </div>
</div>
